<div class="container" >
    <div class="col-xs-5" style="max-height:500px;overflow-y:scroll;" >
      <div class="row" *ngFor="let datacarrier of dataLoader">
        <h3>{{datacarrier.title}}
        <br>  <small style="font-size:12px;">{{datacarrier.timestamp}} , {{datacarrier.media_display}}</small>
        </h3> 
        <p>
          <img style="float:left;margin-right:10px;max-height:100px;max-width:130px;" src="{{datacarrier.image}}" class="img-responsive"/>
          {{datacarrier.description | slice:0:300}}... </p>
        <hr>
      </div>
      
    </div>
</div>